/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
 * Scrollbar
 */

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--light);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: lightgray;
}
::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

/*********************/

.cursor-pointer{
    cursor: pointer!important;
}
.hover-light:not(.active):hover{
    background-color: var(--light);
}

.online:before,
.offline:before {
    content: '';
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
    box-shadow: 0 0 0 1px white;
}

.online:before{
    background-color: green;
}

.offline:before {
    background-color: darkgray;
}

.full-h {
    height: calc(100vh - 205px);
}

.mesg-container {
    height: calc(100% - 75px);
}

.mesg-input textarea {
    resize: none;
    border-top-right-radius: 0.25rem!important;
    border-bottom-right-radius: 0.25rem!important;
}

.mesg-container-box > div {
    margin: 5px;
    display:flex;
}

.mesg-container-box .mesg {
    padding: 7px 12px;
    border-radius: 10px;
    display: inline-block;
    max-width:55%;
    word-break: break-word;
}
.mesg-container-box > .me {
    justify-content: flex-end;
}
.mesg-container-box > .me > .mesg {
    background-color: var(--info);
    color: var(--white);
}
.mesg-container-box > .friend > .mesg {
    background-color: var(--light);
    color: var(--dark);
    border: 1px dotted lightgray;
}

.active{
    background-color: var(--info)!important;
}

.chat-close {
    width: 30px;
    height: 30px;
    display: inline-block;
    background: rgb(0 0 0 / 0.1);
    line-height: 30px;
    text-align: center;
    top: -15px;
    right: 0;
    z-index: 10;
    opacity: 0.3;
    transition: opacity 0.3s;
}

.chat-close:hover{
    opacity:1;
}

.me:hover > .mesg-time,
.friend:hover > .mesg-time {
    opacity: 0.7;
    visibility: visible;
}

.mesg-time {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 0.25rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

@media (max-width: 576px){
    .sm-hide{
        display: none!important;
    }
    .footer{
        display:none;
    }
    body{
        margin-bottom: 10px;
    }
    .full-h {
        height: calc(100vh - 185px);
    }
    .mesg-input textarea {
        border-top-right-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
}

.required:after{
    content:' *';
    color: red;
}