<header>
	<nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
		<div class="container">
			<a class="navbar-brand" href="#">Chat with me!</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse justify-content-end">
				<ul class="navbar-nav">
					<li class="nav-item">
						@if (User.Identity.IsAuthenticated)
						{
							<a class="nav-link" asp-controller="User" asp-action="SignOut">(@User.Identity.Name) Đăng xuất</a>
						}
						else
						{
							<a class="nav-link" asp-controller="User" asp-action="Login">Đăng nhập</a>
						}
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>